@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

/* Color Palette */
:root{
    --primaryColor: rgb(242, 95, 58);
    --secondaryColor:  rgb(35, 44, 81);
    /* Additional Colors */
    --neutralColor1: rgb(249, 249, 249);
    --neutralColor2: rgb(255, 239, 234);
    --neutralColor3: rgb(143, 148, 167);
    --neutralColor4: rgb(29, 30, 37);
}

/* header */
header{
    display: flex;
    
}

/* main */

/* footer */

/* responsive */

/* pseudoselectors */