@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html{
    width: 100vw;
    overflow-x: hidden;
} */

/* Typography */
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

/* Color Palette */
:root{
    --primaryColor: rgb(242, 95, 58);
    --secondaryColor:  rgb(35, 44, 81);
    /* Additional Colors */
    --neutralColor1: rgb(249, 249, 249);
    --neutralColor2: rgb(255, 239, 234);
    --neutralColor3: rgb(143, 148, 167);
    --neutralColor4: rgb(29, 30, 37);
}

/* header */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75.13px;
}

header .navbutton  a{
    text-decoration: none;
    color: var(--secondaryColor) ;
}

header .navbutton{
    /* display: flex; */
    display: none;
}

header .navbar .categories{
    display: flex;
    list-style: none;
    gap: 28px;
    white-space: nowrap;
}

header .logo{
    height: 23.74px;
    width: 145.43px;
}

/* main */

main{
    margin-left: 10px;
    margin-right: 10px;
}

/* firstSection */

main .firstSection {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main .firstSection .graphImage{
    width: 100vw;
}

main .firstSection .text span {
    color: var(--secondaryColor);
    font-size: 30px;
    font-weight: bold;
}

main .firstSection .text p {
    color: var(--neutralColor3);
    margin-bottom: 30px;
    margin-top: 15px;
}

/* button (firstSection and thirdSection) */

main .firstSection .text .buttonGS, main .thirdSection .buttonGS, header .navbutton .buttonGS {
    background-color: var(--primaryColor);
    border: none;
    border-radius: 50px;
    padding: 12.5px 30.5px;
    color: white;
    transition: background-color 450ms;
}

/* secondSection */

main .secondSection{
    display: flex;
    flex-direction: column;
}
main .secondSection p{
    color: var(--neutralColor3);
}
main .secondSection .firstBox {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}
main .secondSection .firstBox span {
    color: var(--secondaryColor);
    font-size: 36px;
    font-weight: bold ;
}

main .secondSection .secondBox .segments{
    display: flex;
    align-items: baseline;
    height: 44px;
    background-color: #FFF0EC;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    /* width: 100vw; */
}

main .secondSection .secondBox .segments span {
    background-color: var(--primaryColor); 
    color: white;
    line-height: 23px;
    margin-bottom: 18px;
    /* margin-left: 23px;
    margin-right: 23px; */
    padding: 10px 25px;
    border-radius: 30px;
}

main .secondSection .secondBox .segments h3{
    /* background-color: #FFF0EC; */
    font-size: 16px;
    white-space: nowrap;
    color: var(--secondaryColor);
    padding: 10px 25px;
    /* padding-left: 23px; */
}

main .secondSection .secondBox p {
    text-align: left;
    margin-bottom: 33.5px;
}

/* thirdSection */

main .thirdSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}

main .thirdSection h3 {
    color: var(--secondaryColor);
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
}

main .thirdSection .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 35px;
}

main .thirdSection span {
    color: var(--secondaryColor);
    font-weight: bold;
    margin-top: 21px;
    margin-bottom: 21px;
}

main .thirdSection p {
    color: var(--neutralColor3);
    width: 16rem;
}

main .thirdSection img {
    width: 70px;
}

/* footer */
footer .orangeFooter{
    align-items: center;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .orangeFooter div{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 64px;
}

footer .orangeFooter .buttonGS_whiteButton{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-style: none;
    border-radius: 50px;
    color: var(--primaryColor);
    padding: 12.5px 30.5px;
    margin-bottom: 64px;
    transition: color 450ms;
}

footer .blackFooter{
    background-color: var(--neutralColor4);
    padding: 30px;
    display: flex;
    flex-direction: column;
}


footer .blackFooter .firstContainer .emailForm{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .blackFooter .firstContainer .emailForm input{
    background: #FFFFFF;
    border-radius: 50px;
    border-style: none;
    padding-left: 38px;
    margin-right: 9px;
}

footer .blackFooter .firstContainer .emailForm .goButton{
    background-color: var(--primaryColor);
    border-radius: 50px;
    border-style: none;
    color: #FFFFFF;
    padding: 11.5px 28px;
    transition: background-color 450ms;
}

footer .blackFooter .copyright{
    color: var(--neutralColor3);
    margin-top: 45px;
    text-align: center;
    white-space: nowrap;
}

footer .blackFooter .secondContainer .listsBox{
    display: flex;
    gap: 115px;
    margin-bottom: 25px;
    font-size: 13px;
}

footer .blackFooter .secondContainer .firstList{
    padding-left: 30px;
}

footer .blackFooter .secondContainer .firstList li, .secondList li{
    list-style: none;
    color: #FFFFFF;
    white-space: nowrap;
    padding-bottom: 12px;
}

footer .blackFooter .secondContainer .firstList a, .secondList  a{
    text-decoration: none;
    color: white;
}

footer .blackFooter .thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .blackFooter .thirdContainer .socialMedia{
    display: flex;
    margin-bottom: 25px;
    gap: 10vw;
}

footer .blackFooter .thirdContainer .logo{
    height: 23.74px;
    width: 145.43px;
    align-self: center;
    margin-top: 20px;
}


/* responsive */

@media (min-width: 376px) {

    main .firstSection {
        text-align: left;
    }

    header .navbutton{
        display: flex;
        align-items: center;
        gap: 224px;
    }

    header .hamburger{
        display: none;
    }

    main{
        margin-left: 50px;
        margin-right: 50px;
    }

    main .firstSection{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 106px;;
    }

    main .firstSection .text{
        order: -1;
        align-self: center;
        width: 439px;
    }

    main .firstSection .text span{
    font-size: 50px;
    }

    main .firstSection .graphImage{
        width: 580px;
        height: 525px;
    }

    main .secondSection{
        flex-direction: row;
        justify-content: space-around;
        gap: 125px;
        margin-top: 60px;
    }

    main .secondSection .firstBox{
        align-self: flex-start;
        text-align: left;
    }

    main .secondSection .secondBox .segments{
        background-color: transparent;
    }

    main .secondSection .secondBox p{
        margin-left: 90px;
    }

    main .thirdSection{
        margin-bottom: 50px;
    }

    main .thirdSection section{
        display: flex;
        gap: 80px;
    }

    main .thirdSection h3{
        margin-top: 65px;
    }

    main .thirdSection .buttonGS{
        margin-top: 50px;
    }

    /* modificacion texto y modificando el justify-content para que se separen los elementos */

    footer .orangeFooter div{
        width: 35vw;
        text-align: left;
    }

    footer .orangeFooter {
        justify-content: space-around;
        align-items: center;
    }

    /* footer .orangeFooter .buttonContainer{
        position: relative;
        left: 220px;
        top: 30px;
    } */

    footer .blackFooter {
        flex-direction: row;
        justify-content: space-between;
    }

    footer .blackFooter .firstContainer {
        order: 1;
    }

    footer .blackFooter .thirdContainer {
        order: -1;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    footer .blackFooter .thirdContainer .socialMedia{
        gap: 1vw;
    }

    footer .blackFooter .copyright {
        order: 2;
        align-self: flex-end;
    }

}

/* pseudoselectors */

.buttonGS:hover, .buttonGS_whiteButton:hover, .goButton:hover{
    cursor: pointer;
}

header .navbutton .buttonGS:hover{
    background-color: rgba(242, 95, 58, 0.6);
}

header .navbutton .navbar .categories a:hover{
    color: var(--neutralColor3);
}

main .firstSection .text .buttonGS:hover{
    background-color: rgba(242, 95, 58, 0.6);
}

main .thirdSection .buttonGS:hover{
    background-color: rgba(242, 95, 58, 0.6);
}

footer .orangeFooter .buttonGS_whiteButton:hover{
    color: rgba(242, 95, 58, 0.6);
}

footer .blackFooter .firstContainer .emailForm .goButton:hover{
    background-color: rgba(242, 95, 58, 0.7);
}

footer .blackFooter .secondContainer .listsBox .firstList a:hover{
    color: var(--primaryColor);
}

footer .blackFooter .secondContainer .listsBox .secondList a:hover{
    color: var(--primaryColor);
}

footer .blackFooter .thirdContainer .socialMedia img:hover{
    cursor: pointer;
    filter: invert(47%) sepia(79%) saturate(2438%) hue-rotate(338deg) brightness(98%) contrast(93%);
}

footer .blackFooter .firstContainer .emailForm input:focus{
    outline: none;
    color: firebrick;
    box-shadow: 2px 2px 2px 1px firebrick;
}